{% extends 'base.html.twig' %}

{% block title %}Amour Livre - New Genre{% endblock %}

{% block body %}
    <h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Create new Genre</h1>

    {{ include('genre/_form.html.twig') }}

    {# <a href="{{ path('genre_index') }}">back to list</a> #}
{% endblock %}

