{% extends 'homebase.html.twig' %}

{% block title %}Amour Livre - Réinitialisation{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="w--900 p--2 bck--alt br--15">
    <h1 class="text-center text-color-dark fw--b">Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
            <p class="mtl--1 mtbl--1">
                Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </p>

        <button class="btn btn-primary w--mob-70 w--200 as--c m--1 text-center">envoyer email</button>
    {{ form_end(requestForm) }}
    </section>
{% endblock %}