{% extends 'homebase.html.twig' %}

{% block title %}Amour Livre - Mot de passe{% endblock %}

{% block body %}
    <h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Réinitialisez votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary w--mob-70 w--200 m--1 text-center">réinitialiser mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
