{% extends 'base.html.twig' %}

{% block title %}Amour Livre
{% endblock %}

{% block body %}
	<section id="section-transparent">
		<h1 class="text-center section-transparent__h1 mb--1">
			Vous avez des matchs !</h1>

		<article class="article-matching w--600 d--flex fd--c">
			<h2 class="w--100 text-center">Matching : 60 %</h2>
			<div class="d--flex m--top-2 m--height">
				<img src="{{asset('assets/img/profil/silhouette-amour-livre.jpg')}}" alt="silhouette">
				<ul class="w--50 ml--1">
					<li>Pseudo :
					</li>
					<li>Age :
					</li>
					<li>Ville :
					</li>
					<li>Description :
					</li>
				</ul>
			</div>
			<div class="d--flex jc--se">
				<button class="btn btn-matching w--200 p--1">Contacter</button>
				<button class="btn btn-primary w--200 p--1">Ignorer</button>
			</div>
		</article>

		<article class="article-matching w--600 d--flex">
			<h2 class="w--100 text-center">Matching : 60 %</h2>
			<div class="d--flex m--top-2 m--height">
			<img src="{{asset('assets/img/profil/silhouette-amour-livre.jpg')}}" alt="silhouette">
				<ul class="w--50 ml--1">
					<li>Pseudo :
					</li>
					<li>Age :
					</li>
					<li>Ville :
					</li>
					<li>Description :
					</li>
				</ul>
				
			</div>
			<div class="d--flex jc--se">
				<button class="btn btn-matching w--200 p--1">Contacter</button>
				<button class="btn btn-primary w--200 p--1">Ignorer</button>
			</div>
		</article>
	</section>
{% endblock %}
