{% extends 'base.html.twig' %}

{% block title %}Amour Livre - Messagerie{% endblock %}

{% block body %}
<h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Je suis sur Messagerie</h1>
{% endblock %}