{% extends 'base.html.twig' %}

{% block title %}Amour Livre - Edit Matching{% endblock %}

{% block body %}
    <h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Edit Matching</h1>

    {{ include('matching/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('matching_index') }}">back to list</a> #}

    {{ include('matching/_delete_form.html.twig') }}
{% endblock %}
