{% extends 'base.html.twig' %}

{% block title %}Amour Livre - New Matching{% endblock %}

{% block body %}
    <h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Create new Matching</h1>

    {{ include('matching/_form.html.twig') }}

    {# <a href="{{ path('matching_index') }}">back to list</a> #}
{% endblock %}
