{% extends 'base.html.twig' %}

{% block title %}
  Amour Livre
{% endblock %}

{% block body %}
  <section class="section-footer">
    <h1>
      Conditions générales d'utilisation du site
      <span>www.amourlivre.fr</span>
    </h1>

    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 1 : Objet
      </h2>

      <p class="conditions-article__text">
        Les présentes « conditions générales d'utilisation » ont pour objet
        l'encadrement juridique de l’utilisation du site
        <span>www.amourlivre.fr</span>
        et de ses services.
      </p>

      <p class="conditions-article__text">
        <span>Ce contrat est conclu entre :</span>
      </p>

      <p class="conditions-article__text">
        Le gérant du site internet, ci-après désigné « l’<span>Éditeur</span>
        »,
      </p>

      <p class="conditions-article__text">
        Toute personne physique ou morale souhaitant accéder au site et à ses
        services, ci-après appelé « l’<span>Utilisateur</span>
        ».
      </p>

      <p class="conditions-article__text">
        Les conditions générales d'utilisation doivent être acceptées par tout
        <span>Utilisateur</span>, et son accès au site vaut acceptation de ces
        conditions.
      </p>
    </article>

    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 2 : Mentions légales
      </h2>

      <p class="conditions-article__text">
        <span>Pour les personnes morales :</span>
      </p>
      <p class="conditions-article__text">
        Le site
        <span>www.amourlivre.fr</span>
        est édité par
        <span>la société CHECK</span>, au capital de 10 000€, dont le siège
        social est situé au 8 Allée Léon Gambetta 13001 MARSEILLE.
      </p>
      <p class="conditions-article__text">
        La société est représentée par
        <span>monsieur Kevin PUJO</span>.
      </p>
      <p class="conditions-article__text">
        <span>Pour les personnes physiques :</span>
      </p>

      <p class="conditions-article__text">
        Le site
        <span>www.amourlivre.fr</span>
        est édité par Kevin PUJO, domicilié au 8 Allée Léon Gambetta 13001 MARSEILLE.
      </p>
    </article>

    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 3: accès aux services
      </h2>

      <p class="conditions-article__text">
        Tout
        <span>Utilisateur</span>
        ayant accès à internet peut accéder gratuitement et depuis n’importe où au
        site. Les frais supportés par l’<span>Utilisateur</span>
        pour y accéder (connexion internet, matériel informatique, etc.) ne sont
        pas à la charge de l’<span>Éditeur</span>.
      </p>

      <p class="conditions-article__text">
        L’<span>Utilisateur</span>
        du site
        <span>www.amourlivre.fr</span>
        a accès aux services suivants :
      </p>

      <ul class="conditions-article__list">
        <li>Création d’un compte client ;</li>
        <li>
          Création d’un profil
          <span>utilisateur</span>
          ;
        </li>
        <li>
          Création d’une bibliothèque virtuelle en utilisant l’API Google ;
        </li>
        <li>Accès à une messagerie privée ;</li>
        <li>
          Interaction avec d’autres
          <span>utilisateur</span>s.
        </li>
      </ul>

      <p class="conditions-article__text">
        Les services ci-dessus ne sont accessibles à l’<span>Utilisateur</span>
        que s’il est membre du site (c’est-à-dire qu’il est identifié à l’aide de
        ses identifiants de connexion)
      </p>

      <p class="conditions-article__text">
        Le site et ses différents services peuvent être interrompus ou suspendus
        par l’<span>Éditeur</span>, notamment à l’occasion d’une maintenance,
        sans obligation de préavis ou de justification.
      </p>
    </article>
    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 4: Responsabilité de l’<span>Utilisateur</span>
      </h2>

      <p class="conditions-article__text">
        L'<span>Utilisateur</span>
        est responsable des risques liés à l’utilisation de son identifiant de connexion
        et de son mot de passe.
      </p>

      <p class="conditions-article__text">
        Le mot de passe de l’<span>Utilisateur</span>
        doit rester secret. En cas de divulgation de mot de passe, l’<span>
          Éditeur
        </span>
        décline toute responsabilité.
      </p>

      <p class="conditions-article__text">
        L’<span>Utilisateur</span>
        assume l’entière responsabilité de l’utilisation qu’il fait des informations
        et contenus présents sur le site
        <span>www.amourlivre.fr</span>.
      </p>

      <p class="conditions-article__text">
        Tout usage du service par l'<span>Utilisateur</span>
        ayant directement ou indirectement pour conséquence des dommages doit faire
        l'objet d'une indemnisation au profit du site.
      </p>

      <p class="conditions-article__text">
        Le site permet aux membres de publier sur le site :
      </p>
      <ul class="conditions-article__list">
        <li>Commentaires ;</li>
        <li>Photos (maximum 5 photos d’un poids chacune de 220Ko).</li>
      </ul>

      <p class="conditions-article__text">
        L’<span>Utilisateur</span>
        s’engage :
      </p>

      <ul class="conditions-article__list">
        <li>À être majeur (18 ans révolus) ;</li>
        <li>À ne pas être un délinquant sexuel ;</li>
        <li>
          À ne pas avoir un compte que nous avons précédemment désactivé pour
          non-respect de nos Conditions générales ;
        </li>
        <li>
          À ne pas exposer de photos de nudité, ni de contenu sexuellement
          explicite ;
        </li>
      </ul>

      <p class="conditions-article__text">
        Le membre s’engage à tenir des propos respectueux des autres et de la
        loi et accepte que ces publications soient modérées ou refusées par l’<span>
          Éditeur
        </span>, sans obligation de justification.
      </p>

      <p class="conditions-article__text">
        En publiant sur le site, l’<span>Utilisateur</span>
        cède à la société éditrice le droit non exclusif et gratuit de représenter,
        reproduire, adapter, modifier, diffuser et distribuer sa publication, directement
        ou par un tiers autorisé.
      </p>
      <p class="conditions-article__text">
        L’<span>Éditeur</span>
        s'engage toutefois à citer le membre en cas d’utilisation de sa publication
      </p>
    </article>

    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 5 : Responsabilité de l’<span>Éditeur</span>
      </h2>

      <p class="conditions-article__text">
        Tout dysfonctionnement du serveur ou du réseau ne peut engager la
        responsabilité de l’<span>Éditeur</span>.
      </p>

      <p class="conditions-article__text">
        De même, la responsabilité du site ne peut être engagée en cas de force
        majeure ou du fait imprévisible et insurmontable d'un tiers.
      </p>

      <p class="conditions-article__text">
        Le site
        <span>www.amourlivre.fr</span>
        s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité
        et la confidentialité des données. Toutefois, il n’apporte pas une garantie
        de sécurité totale.
      </p>

      <p class="conditions-article__text">
        L’<span>Éditeur</span>
        se réserve la faculté d’une non-garantie de la fiabilité des sources, bien
        que les informations diffusées sur le site soient réputées fiables.
      </p>
    </article>
    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 6: Propriété intellectuelle
      </h2>

      <p class="conditions-article__text">
        Les contenus du site
        <span>www.amourlivre.fr</span>
        (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit
        d’auteur, en vertu du Code de la propriété intellectuelle.
      </p>

      <p class="conditions-article__text">
        L’<span>Utilisateur</span>
        devra obtenir l’autorisation de l’<span>éditeur</span>
        du site avant toute reproduction, copie ou publication de ces différents
        contenus.
      </p>

      <p class="conditions-article__text">
        Ces derniers peuvent être utilisés par les
        <span>utilisateur</span>s à des fins privées ; tout usage commercial est
        interdit.
      </p>

      <p class="conditions-article__text">
        L’<span>Utilisateur</span>
        est entièrement responsable de tout contenu qu’il met en ligne et il s’engage
        à ne pas porter atteinte à un tiers.
      </p>

      <p class="conditions-article__text">
        L’<span>Éditeur</span>
        du site se réserve le droit de modérer ou de supprimer librement et à tout
        moment les contenus mis en ligne par les
        <span>utilisateur</span>s, et ce sans justification.
      </p>
    </article>
    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 7: Données personnelles
      </h2>

      <p class="conditions-article__text">
        L’<span>Utilisateur</span>
        doit obligatoirement fournir des informations personnelles pour procéder
        à son inscription sur le site.
      </p>

      <p class="conditions-article__text">
        L’adresse électronique (e-mail) de l’<span>utilisateur</span>
        pourra notamment être utilisée par le site
        <span>www.amourlivre.fr</span>
        pour la communication d’informations diverses et la gestion du compte.
      </p>

      <p class="conditions-article__text">
        <span>www.amourlivre.fr</span>
        garantie le respect de la vie privée de l’<span>
          utilisateur
        </span>, conformément à la loi n°78-17 du 6 janvier 1978 relative à
        l'informatique, aux fichiers et aux libertés.
      </p>

      <p class="conditions-article__text">
        En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'<span>
          Utilisateur
        </span>
        dispose d'un droit d'accès, de rectification, de suppression et d'opposition
        de ses données personnelles. L'<span>Utilisateur</span>
        exerce ce droit via :
      </p>
      <ul class="conditions-article__list">
        <li>Son espace personnel sur le site;</li>
        <li>Un formulaire de contact;</li>
        <li>Par mail à teamcheck139@gmail.com ;</li>
        <li>
          Par voie postale au
          <span>8 Allée Léon Gambetta 13001 MARSEILLE.</span>
        </li>
      </ul>
    </article>
    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 8 : Liens hypertextes
      </h2>

      <p class="conditions-article__text">
        Les domaines vers lesquels mènent les liens hypertextes présents sur le
        site n’engagent pas la responsabilité de l’<span>Éditeur</span>
        de
        <span>www.amourlivre.fr</span>, qui n’a pas de contrôle sur ces liens.
      </p>

      <p class="conditions-article__text">
        Il est possible pour un tiers de créer un lien vers une page du site
        <span>www.amourlivre.fr</span>
        sans autorisation expresse de l’<span>éditeur</span>.
      </p>
    </article>
    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 9 : Évolution des conditions générales d’utilisation
      </h2>

      <p class="conditions-article__text">
        Le site
        <span>www.amourlivre.fr</span>
        se réserve le droit de modifier les clauses de ces conditions générales d’utilisation
        à tout moment et sans justification.
      </p>
    </article>
    <article class="conditions-article">
      <h2 class="conditions-article__title">
        ARTICLE 10 : Durée du contrat
      </h2>

      <p class="conditions-article__text">
        La durée du présent contrat est indéterminée. Le contrat produit ses
        effets à l'égard de l'<span>Utilisateur</span>
        à compter du début de l’utilisation du service.
      </p>
    </article>

    <h2 class="conditions-article__title">
      ARTICLE 11 : Droit applicable et juridiction compétente
    </h2>

    <p class="conditions-article__text">
      Le présent contrat dépend de la législation française. En cas de litige
      non résolu à l’amiable entre l’<span>Utilisateur</span>
      et l’<span>Éditeur</span>, les tribunaux de MARSEILLE sont compétents pour
      régler le contentieux.
    </p>
  </section>
{% endblock %}
