{% extends 'homebase.html.twig' %}

{% block title %}Amour Livre - CGV
{% endblock %}

{% block body %}
	<section class="section-footer2 w--900 bck--alt lh--1d5 br--15">
		<h1 class="text-center lh--5">
			Conditions générales de vente
		</h1>

		<p class="conditions-article__text">
			Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet <span>www.amourlivre.fr</span>, sous réserve des conditions particulières indiquées dans la présentation des produits.
		</p>

		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 1 : Mentions obligatoires
			</h2>

			<p class="conditions-article__text">
				Le site Internet <span>www.amourlivre.fr</span> est un service de :
			</p>
			<ul class="conditions-article__list">
				<li>
					•	CHECK
				</li>
				<li>
					•	8 Allée Léon Gambetta 13001 MARSEILLE FRANCE
				</li>
				<li>
					•	SIRET : 79125475200012
				</li>
				<li>
					•	N° TVA : FR74791254752
				</li>
				<li>
					•	teamcheck139@gmail.com
				</li>
				<li>
					•	04.91.22.18.65
				</li>
			</ul>
		</article>

		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 2 : Caractéristiques essentielles des produits et services vendus
			</h2>
			<p class="conditions-article__text">
				Le site Internet <span>www.amourlivre.fr</span> vend :
			</p>
			<p class="conditions-article__text">•	Abonnement mensuel ou annuel</p>
			<p class="conditions-article__text">
				Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. La validation de votre commande vaut donc pour acceptation des conditions générales de vente.</p>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 3 : Prix
			</h2>
			<p class="conditions-article__text">
				Les prix de nos produits sont indiqués en euros € toutes taxes comprises (TTC).
			</p>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 4 : Modalités de paiement
			</h2>
			<ul class="conditions-article__list">
				<li>
					•	Plusieurs moyens de paiement sont acceptés. En tant que client, vous avez la possibilité de payer par : PayPal / Stripe.
				</li>
				<li>
					•	Nous acceptons les paiements par Carte Bleue / Visa / Mastercard / Eurocard. Lors de votre paiement en ligne, indiquez le numéro de votre carte bancaire, sa date d'expiration et les 3 chiffres inscrits au dos de celle-ci. Le paiement en ligne est sécurisé.
				</li>
			</ul>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 5 : Droit de rétractation
			</h2>
			<p class="conditions-article__text">
				•	Conformément à l'article L121-20 du Code de la consommation, vous disposez d'un droit de rétractation à exercer dans un délai de sept jours ouvrables à compter de la création de votre compte. Vous n'avez ni à justifier de motifs ni à payer de pénalités, mis à part les frais de retour.
			</p>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 6 : Conditions et délais de remboursement
			</h2>
			<p class="conditions-article__text">
				Le remboursement des produits est intégral. Il s'effectue par PayPal / Stripe, dans les plus brefs délais et au plus tard dans les 30 jours à compter de la date d'exercice du droit de rétractation.
			</p>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 7 : Réclamations du consommateur
			</h2>
			<p class="conditions-article__text">
				Toute réclamation du consommateur est à adresser par courrier postal à l'adresse mentionnée ci-contre 8 Allée Léon Gambetta 13001 MARSEILLE ou par voie électronique à teamcheck139@gmail.com.
			</p>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 8 : Propriété intellectuelle
			</h2>
			<p class="conditions-article__text">
				Tous les commentaires, images, illustrations de notre site nous sont exclusivement réservés. Au titre de la propriété intellectuelle et du droit d'auteur, toute utilisation est prohibée sauf à usage privé.
			</p>
			<p class="conditions-article__text">
				Sans autorisation préalable, toute reproduction de notre site, qu'elle soit partielle ou totale, est strictement interdite.
			</p>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 9 : Responsabilité
			</h2>
			<p class="conditions-article__text">
				Conformément à l'article 1147 du Code civil, nous engageons notre responsabilité contractuelle de plein droit à votre égard en cas d'inexécution ou de mauvaise exécution du contrat conclu.
			</p>
			<p class="conditions-article__text">
				Toutefois, notre responsabilité contractuelle ne peut être engagée dans les situations mentionnées ci-dessous :
			</p>
			<ul class="conditions-article__list">
				<li>
					•	Cas de la force majeure ;
				</li>
				<li>
					•	Fait étranger qui ne peut nous être imputable ;
				</li>
			</ul>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 10 : Données à caractère personnel
			</h2>
			<p class="conditions-article__text">•	Certaines informations relatives au client seront transmises au vendeur (à savoir le nom, prénom, adresse, code postal et numéro de téléphone) et ce, afin de permettre le traitement des données.</p>
			<p class="conditions-article__text">Le site assure au client une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
			<p class="conditions-article__text">
				En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, le client dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. Le client exerce ce droit via :
			</p>
			<ul class="conditions-article__list">
				<li>
					•	Son espace personnel
				</li>
				<li>
					•	Un formulaire de contact
				</li>
				<li>
					•	Par mail à teamcheck139@gamil.com
				</li>
				<li>
					•	Par voie postale au 8 Allée Léon Gambetta 13001 MARSEILLE.
				</li>
			</ul>
		</article>
		<article class="conditions-article">
			<h2 class="conditions-article__title">
				ARTICLE 11 : Juridiction compétente et droit applicable
			</h2>
			<p class="conditions-article__text">
				En cas de litige entre le client consommateur et notre société, le droit applicable est le droit français.
			</p>
			<p class="conditions-article__text">
				Les juridictions françaises ont seules compétences pour trancher le litige.
			</p>
		</article>


	</section>
{% endblock %}
