{% extends 'base.html.twig' %}

{% block title %}Amour Livre - Contact
{% endblock %}

{% block body %}
	<section class="section-contact w--900">
		<h1 class="text-center">
			Contact
		</h1>
		{{include('contact/_form.html.twig')}}
		
	</section>
{% endblock %}
