{% extends 'baseadmin.html.twig' %}

{% block title %}Amour Livre - Edit Contact
{% endblock %}

{% block body %}
	<section class="section-admin w--900 p--2 bck--alt br--15 pb--1 d--flex">
		<h1 class="text-center text-color-dark fw--b fsize-3 mb--1 w--100">Edit Contact</h1>

		<div class="w--100">
            {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

		<a class="btn btn-secondary w--mob-70 w--300 text-center m--top--25" href="{{ path('contact_index') }}">retour à la liste</a>
	</section>

	{{ include('contact/_delete_form.html.twig') }}
{% endblock %}
