.btn {
  text-transform: uppercase;
  border-radius: 15px;
  box-shadow: 2px 2px 10px var(--color--theme--dark)
}

/* .btn:hover, */
.btn:focus {
  background-color: var(--color--theme--dark);
}

.btn-primary {
  background-color: var(--color--theme--primary);
  border: none;
  /* box-shadow: 2px 2px 10px var(--color--theme--dark); */
}

.btn-primary:hover {
  background-color: var(--color--theme--primary-hover) ;
}

.btn-secondary {
  background-color: var(--color--theme--secondary);
  border: none;
  /* box-shadow: 2px 2px 10px var(--color--theme--dark); */
}
.btn-secondary:hover {
  background-color: var(--color--theme--secondary-hover);
}

.btn-signin,
.btn-signup {
  padding: 1rem 5rem;
  font-size: 1.3rem;
}

.btn-matching {
  background-color: var(--color--pastel-green);
  color: var(--color--text--match2);
  font-weight: 900;
}

.btn-nomatching {
  background-color: var(--color--lochmara);
  color: var(--color--text--match);
  font-weight: 900;
}

.btn-matching:hover, .btn-nomatching:hover {
  background-color: var(--color--theme--secondary-hover);
  color: var(--color--text--light);
}

.btn-logout{
  border-radius: 8px;
}

.btn-submit{
  border-radius: 8px;
}