.btn {
  text-transform: uppercase;
  border-radius: 15px;
}

/* .btn:hover, */
.btn:focus {
  background-color: var(--color--theme--dark);
}

.btn-primary {
  background-color: var(--color--theme--primary);
  border: none;
  box-shadow: 2px 2px 10px var(--color--theme--dark);
}

.btn-primary:hover {
  background-color: var(--color--theme--primary-hover) ;
}

.btn-secondary {
  background-color: var(--color--theme--secondary);
  border: none;
  box-shadow: 2px 2px 10px var(--color--theme--dark);
}
.btn-secondary:hover {
  background-color: var(--color--theme--secondary-hover);
}

.btn-signin,
.btn-signup {
  padding: 1rem 5rem;
  font-size: 1.3rem;
}

/* .btn-signup {
  margin-top: 2rem;
} */

.btn-matching {
  background-color: var(--color--theme--alt2);
  color: var(--color--text--dark);
}

.btn-matching:hover {
  background-color: var(--color--text--dark);
  color: var(--color--theme--alt2);
}
