.footer-menu__nav{
    display: flex;
    justify-content: center;
}

.footer-menu__link{
    color: var(--color--text--dark);
    font-size: var(--font--size--down-scaled-1);
}

.footer-menu__link:hover,
.footer-menu__link:focus
.footer-menu__link:active{
    color: var(--color--text--dark);
    text-decoration: underline;
    font-weight: bold;
}

.footer-text{
    color: var(--color--text--dark);
    text-align: center;
    font-size: var(--font--size--down-scaled-1);
    padding-top: 1rem;
}
