/* .form-label{
    color: var(--color--text--dark);
    font-weight: bold;
}

.form-input{
    background-color: var(--color--theme--light);
    border: none;
}

.form-terms{
    color: var(--color--text--dark);
}
.form-terms:hover{
    color: var(--color--text--dark);
    font-weight: bold;
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

.meter-text{
    display: block;
    color: var(--color--text--dark);
    font-weight: bold;
}

.nav-tabs .form-link{
    color: var(--color--text--light);
    font-weight: bold;
}

.nav-tabs .form-link.active{
    color: var(--color--theme--primary);
    background-color: var(--color--theme--light);
}

.form-link span{
    margin-left: 0.5rem;
}

.confirm-password:valid{
    border : 5px solid var(--color--success);
}

.confirm-password:invalid{
    border: 5px solid var(--color--danger);
} */

.form-group{
    margin : 1rem 1rem 0 1rem;
}

label,
.col-form-label{
    margin-bottom: 1rem;
    color: var(--color--text--dark);
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
}

form small a{
    text-decoration: none;
}

form small a:hover{
    color: var(--color--text--dark);
    text-decoration: underline;
}