.home-background {
  width: 100%;
  background-color: transparent;
  height: 50vh;
  border-bottom-left-radius: 50px;
}

video#bgvid {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -2;
  /* background: url(polina.jpg) no-repeat; */
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: -3;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.card{
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card img{
    border-radius: 15px 15px 0 0 ;
}
.card-title{
    color: var(--color--text--dark);
    font-weight: bold;
    padding: 0;
}
.card-body p{
    padding: 1rem 0;
    text-align: center;
    line-height: 1.2rem;
}