.navbar{
    background-color: var(--color--theme--dark);
    border-bottom-left-radius: 50px;
    
}

.main-menu__brand img{
    width: 50%;
}

.main-menu__toggler-icon{
    color: var(--color--text--light);
    font-size: var(--font--size--up-scaled-6);
}

.main-menu__link{
    font-size: var(--font--size--up-scaled-3);
    margin-left: 2rem;
}

.main-menu__link:hover,
.main-menu__link:focus
.main-menu__link:active{
    color: var(--color--text--light);
    text-decoration: underline;
    font-weight: bold;
}
