<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
		name="description" content="blablablablablablablablablablabla">
		{# <link rel="shortcut icon" type="img/png" href="#"> #}
		<title>
			{% block title %}Amour Livre
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
            <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }} ">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }} ">

		{% endblock %}
	</head>
	<body>
		<div class="background">
			<header>
				<nav class="navbar main-menu navbar-expand-lg">
					<div class="container-fluid">
						<a class="navbar-brand main-menu__brand" href="#"><img src="{{ asset('assets/img/logo/logo-bright.png')}}" alt=""></a>
						<button class="navbar-toggler main-menu__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon main-menu__toggler-icon"><i class="fas fa-bars"></i></span>
						</button>
						<div class="collapse navbar-collapse main-menu__collapse" id="navbarSupportedContent">
							<ul class="navbar-nav main-menu__nav me-auto mb-2 mb-lg-0">
								<li class="nav-item main-menu__item">
									<a class="nav-link main-menu__link active" aria-current="page" href="#">Accueil</a>
								</li>
								<li class="nav-item main-menu__item">
									<a class="nav-link main-menu__link" href="#">Profil</a>
								</li>
								<li class="nav-item main-menu__item">
									<a class="nav-link main-menu__link" href="#">Matching</a>
								</li>
								<li class="nav-item main-menu__item">
									<a class="nav-link main-menu__link" href="#">Messagerie</a>
								</li>
							</ul>

						</div>
					</div>
				</nav>
			</header>
		</div>
        <main>
		{% block body %}{% endblock %}
        </main>
		<footer>
			<nav class="footer-menu">
				<ul class="nav footer-menu__nav">
					<li class="nav-item footer-menu__item">
						<a class="nav-link footer-menu__link active" aria-current="page" href="#">Contact</a>
					</li>
					<li class="nav-item footer-menu__item">
						<a class="nav-link footer-menu__link" href="#">CGU</a>
					</li>
					<li class="nav-item footer-menu__item">
						<a class="nav-link footer-menu__link" href="#">CGV</a>
					</li>
                    <li class="nav-item footer-menu__item">
						<a class="nav-link footer-menu__link" href="#">Qui sommes-nous ?</a>
					</li>
                    <li class="nav-item footer-menu__item">
						<a class="nav-link footer-menu__link" href="#">Mentions Légales</a>
					</li>
				</ul>
			</nav>
            <p class="footer-text">Tous droits réservés - &copy;Team CHECK - 2021</p>
		</footer>


		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
