/* MISE EN FORME ARTICLE */

.article-bookpage{
    padding: 2rem;
    background-color: var(--color--theme--primary);
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--color--theme--dark);
    color: var(--color--white);
    line-height: 2rem;
}

/* TITRES */

.article-bookpage h1{
    font-weight: normal;
    padding: 0rem;
}

.article-bookpage h2{
    font-weight: normal;
    padding: 0rem;
}

.article-bookpage span{
    font-weight: 900;
    padding: 0.5rem;
    color: var(--color--text--dark);
}

/* TAILLE */

.w--330{
    width: 330px;
}

.w--1300{
    width: 1300px;
  }

  /* BOUTONS */

.btn-bookpage {
    background-color: var(--color--theme--secondary-hover);
    color: var(--color--text--light);
    font-weight: 900;
  }
  
.btn-bookpage:hover {
    background-color: var(--color--lochmara);
  }
