/* ARTICLE */

.article-bookpage{
    padding: 1.5rem;
    background-color: var(--color--theme--primary);
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--color--theme--dark);
    color: var(--color--white);
    line-height: 2rem;
}

/* TITLE */

.article-bookpage h1{
    padding: 0 0 1rem 0;
}

.article-bookpage span{
    font-weight: 900;
    padding-right: 1rem;
    color: var(--color--text--dark);
}

/* SIZING */

.hgt--card{
    height: 58vh;
}

.hgt--img{
    height: 54vh;
}

.w--330{
    width: 330px;
}

.w--950{
    width: 950px;
}

/* BUTTONS */

.btn-bookpage {
    background-color: var(--color--theme--secondary-hover);
    color: var(--color--text--light);
    font-weight: 900;
}
  
.btn-bookpage:hover {
    background-color: var(--color--lochmara);
}

/* @media(max-width:500px){

    .article-bookpage__img .card-body{
        height: 50%;
    }

    .article-bookpage__img .card-img-top{
        height: 50%;
        object-fit: cover;
    }
} */

