main{
    width: 100%;
    min-height: 100vh;
    margin-top: 20rem;
    z-index: -1;
}

@media(max-width:540px){
    main{
        margin-top: -10rem;
    }
}

#homebase-main{
    margin-top: -10rem;
}