/* FLEX
 * ------------------------------------------------------------------------- */

 .d--flex{
    display: flex;
    flex-wrap: wrap;
  }

  .d--inlblc{
    display: inline-block;
  }
  
  .d--flex-nowrap{
    display: flex;
  }

  .d--none{ /* d-none et pas Danone */
    display: none; 
  }
  
  .f--300{
    flex: 1 1 300px;
  }
  
  .f--600{
    flex: 2 2 600px;
  }

  .fd--row-reverse{
    flex-direction: row-reverse;
  }
  
  /***Justify Content***/
  .jc--sb{
    justify-content: space-between;
  }
  
  .jc--se{
    justify-content: space-evenly;
  }
  
  .jc--c{
    justify-content: center;
  }

  .jc--sa{
    justify-content: space-around;
  }

  .jc--fe{
    justify-content: flex-end;
  }
  
  /***Align-Items***/
  .ai--c{
    align-items: center;
  }
  
  /***Align-Content***/
  .ac--sa{
    align-content: space-around;
  }
  
  .as--c{
    align-self: center;
  }

  /***Flex-Direction***/

  .fd--c{
    flex-direction: column;
  }

  @media (max-width: 992px){
    .d--mob--flex{
      display: flex;
      flex-wrap: wrap;
    }
    .d--mob-none{
      display: none;
      
    }  
  
    .ai--mob-c{
      align-items: center;
    }

    .fd--mob-c{
      flex-direction: column;
    }

    .jc--mob-c{
      justify-content: center;
    }
}


