/* WIDTH
 * ------------------------------------------------------------------------- */

 .w--100{
    width: 100%;
  }

  .w--50{
    width:50%;
  }

  .w--300{
    width: 300px;
  }
  
  .w--600{
    width: 600px;
  }
  
  .w--900{
    width: 900px;
  }

  .w--150{
    width: 150px;
  }
  
  .m--width{
    max-width: 1200px;
  }
