/* COLOR
 * ------------------------------------------------------------------------- */

 .text-color-dark{
    color : var(--color--text--dark);
  }

  .text-color-light{
    color : var(--color--text--light);
  }

  .text-color-alt{
    color : var(--color--text--alt);
  }

  .text-color-flash{
    color: var(--color--text--flash);
  }

  .text-color-white{
    color : var(--color--text--white);
  }

/* WEIGHT
 * ------------------------------------------------------------------------- */

 .fw--b{
   font-weight: bold;
 }


/* SIZE
 * ------------------------------------------------------------------------- */

 .fsize-1{
   font-size: var(--font--size--standard);
 }

 .fsize-1d2{
  font-size: var( --font--size--up-scaled-2);
}

 .fsize-2{
   font-size: var(--font--size--up-scaled-6);
 }

 .fsize-4{
   font-size: var(--font--size--up-scaled-10);
  }

   /* LINE-HEIGHT
 * ------------------------------------------------------------------------- */

 .lh--1d5{
   line-height: 1.5rem;
 }

 .lh--5{
   line-height: 5rem;
 }